@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.pokedex {

    &__pokemon-info {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // transition: height 1s;

        // &--inactive {
        //     width: 100%;
        //     height: 50px;
        // }

        // &--active {
        //     height: auto;
        // }
    }
}

.search-bar {
    position: relative;
    width: 100%;
    height: 48px;
    margin: 2rem 0;
    border: 2px solid $pokeball-trim;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
    @include tablet {
        border-radius: 5px 20px 20px 5px;
    }

    &__icon-container {
        display: none;

        @include tablet {
            width: 48px;
            height: inherit;
            background-color: $pokeball-trim;
            border-right: 2px solid $pokeball-trim;
            border-radius: 5px 0 0 5px;
            display: grid;
            place-items: center;
        }
    }

    &__icon {
        width: inherit;
        max-height: inherit;
    }

    &__input {
        width: 100%;
        height: inherit;
        padding: 0 1rem;
        background-color: transparent;
        border: none;
        outline: none;
    }

    &__autocomplete {
        position: absolute;
        top: 100%;
        left: 47px;
        right: 20px;
        border: 2px solid $pokeball-trim;
        border-top: none;
        animation: height 0.3s;

        &--inactive {
            height: 0;
            display: none;
        }

        &--active {
            height: auto;
        }
    }

    &__items {
        list-style-type: none;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid $pokeball-trim;
        background-color: $pokeball-base;
        cursor: pointer;

        &:hover {
            color: $pokeball-base;
            background-color: $pokeball-top;
        }

        &:last-child {
            border: none;
        }
    }
}