@use "../../styles/variables" as *;

.pokedex {

    &__pokemon-info {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // transition: height 1s;

        // &--inactive {
        //     width: 100%;
        //     height: 50px;
        // }

        // &--active {
        //     height: auto;
        // }
    }
}