@use "../../styles/variables" as *;
@use "../../styles/animations" as *;

$pokeball-size: 200px;
// Do not adjust below variables
$pokeball-inner-size: calc(#{$pokeball-size} / 3);
$pokeball-border-size: calc(#{$pokeball-size} / 25);
$pokeball-before-diameter: $pokeball-inner-size;
$pokeball-after-diameter: calc(#{$pokeball-size} / 3.5);

.pokeball {
    position: relative;
    border: $pokeball-border-size solid $pokeball-trim;
    width: $pokeball-size;
    height: $pokeball-size;
    border-radius: 50%;
    background: linear-gradient(
        195deg,
        $pokeball-top-highlight 0%,
        $pokeball-top-highlight 20%,
        $pokeball-top 20%,
        $pokeball-top 49%,
        $pokeball-trim 49%,
        $pokeball-trim 53%,
        $pokeball-base 53%,
        $pokeball-base 100%,
    );
    animation: pokeballWobble 1.3s infinite both;

    &::before, &:after {
        content: "";
        border-radius: 50%;
        position: absolute;
    };

    &::before {
        background-color: $pokeball-trim;
        width: $pokeball-before-diameter;
        height: $pokeball-before-diameter;
        top: calc(50% - #{$pokeball-before-diameter} / 2);
        left: calc(50% - #{$pokeball-before-diameter} / 2);
    };

    &::after {
        top: calc(50% - (#{$pokeball-after-diameter / 2}));
        left: calc(50% - (#{$pokeball-after-diameter / 2}));
        width: $pokeball-after-diameter;
        height: $pokeball-after-diameter;
        background: $pokeball-base;
        border: double $pokeball-border-size $pokeball-trim;
    };
};