@font-face {
    font-family: 'Pokemon Solid';
    src: url('../assets/fonts/PokemonSolidNormal.woff2') format('woff2'),
        url('../assets/fonts/PokemonSolidNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
};

@font-face {
    font-family: 'Pokemon GB';
    src: url('../assets/fonts/PokemonGB.woff2') format('woff2'),
        url('../assets/fonts/PokemonGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
};