@use './variables' as *;

// Responsive Design - Media Queries
@mixin mobile {
    @media (min-width: $screen-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $screen-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $screen-desktop) {
        @content;
    }
}


// Spacing and Layout
@mixin page-height-default {
 min-height: calc(100vh - #{$header-spacer-height} - 2rem);   
}

@mixin page-padding-default {
    width: 100%;

    @include mobile {
        padding-left: $padding-default-mobile;
        padding-right: $padding-default-mobile;
    }

    @include tablet {
        padding-left: $padding-default-tablet;
        padding-right: $padding-default-tablet;
    }

    @include desktop {
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin page-content-default {
    width: 100%;

    @include desktop {
        max-width: 900px;
    }
}