// Responsive Design
$screen-mobile: 280px;
$screen-tablet: 768px;
$screen-desktop: 1280px;

// Colours
$pokeball-top: #f00000;
$pokeball-top-highlight: #ee1515;
$pokeball-trim: #222224;
$pokeball-base: #f0f0f0;

$pokemon-logo: #ffcb05;
$pokemon-logo-shadow: #c7a008;
$pokemon-logo-border: #2a75bb;
$pokemon-logo-border-shadow: #3c5aa6;

// Default Content Spacing
$padding-default-mobile: 1rem;
$padding-default-tablet: 1.5rem;
$padding-default-desktop: 6.25rem;

// Header Height
$header-height: 80px;
$header-spacer-height: calc(#{$header-height} + 30px);

// Borders
$border-radius-default: 20px;

// Shadows
$shadow-default: 0 0 4px rgba(0, 0, 0, .7);
$shadow-highlight: 0 0 4px $pokeball-top;