.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;

    background-color: red;

    &__nav-items{
        display: flex;
        list-style: none;
    }

    &__nav-item {
        padding: 1rem;
    }
}