@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header {
    @include default-page-padding;
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    display: flex;
    align-items: center;
    background: linear-gradient(
        180deg,
        $pokeball-top 0%,
        $pokeball-top 80%,
        $pokeball-trim 80%,
        $pokeball-trim 100%
    );

    &::before, &::after {
        content: "";
        border-radius: 50%;
        position: absolute;
    }

    &::before {
        background: $pokeball-base;
        width: 75px;
        height: 75px;
        top: 43%;
        left: calc((100% - 75px) / 2);
    }

    &::after {
        top: 43%;
        left: calc((100% - 75px) / 2);
        width: 75px;
        height: 75px;
        border: double 10px $pokeball-trim;
    }

    &__spacer {
        width: 100%;
        height: $header-spacer-height;
        margin-bottom: 2rem;
    }

    &__nav {
        width: 100%;
    }

    &__nav-items{
        @include mobile {
            display: none;
        }

        @include tablet {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            list-style: none;
        }
    }

    &__nav-item {
        padding: 1rem;
    }
}