@use "./styles/mixins" as *;
@use "./styles/variables" as *;
@use "./styles/globals.scss" as *;


*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: $pokeball-base;
}